.banner{
  //background: $colorGray400;
  height: 490px;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include media-960 {
   height: 352px;
  }
  @include media-768 {
    height: 305px;
  }
  @include media-320 {
    height: 200px;
  }

  &__slide {
    height: 490px;
   // background: $colorGray400;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-960 {
      height: 352px;
    }
    @include media-768 {
      height: 305px;
    }
    @include media-320 {
      height: 200px;
    }
  }
}