.big-icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colorPrimary;
  border-radius: 50%;
  @include media-320 {
    margin: 0 auto;
  }
}