.block5 {
  display: flex;
  justify-content: space-between;

  &__image{
    display: block;
    text-decoration: none;
    height: 202px;
    width: 100%;
    //background: $colorGray400;
    overflow:hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-768 {
      height: 150px;
    }
    @include media-320 {
      height: 240px;
      width: 240px;
    }
  }
  &__name{
    display: block;
    text-decoration: none;
    color: $colorBlack;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    &.m-white{
      color:$colorWhite;
    }

  }
}

.block5-item {
  width: calc(20% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include media-1440 {
    width: calc(25% - 80px);
  }
  @include media-1200 {
    width: calc(25% - 40px);
  }
  @include media-960 {
    width: calc(33% - 40px);
  }
  @include media-768 {
    width: calc(33% - 20px);
  }
  @include media-640 {
    width: calc(50% - 20px);
  }
  @include media-320 {
    width: auto;
  }
  &.m-no-1440{
    @include media-1440 {
      display: none;
    }
  }
  &.m-no-960 {
    @include media-960 {
      display: none;
    }
  }
  &.m-no-640 {
    @include media-640 {
      display: none;
    }
  }
  &.m-nomobile {
    @include media-320 {
      display: none;
    }
  }
}

.block5-product {
  &__name {
    text-transform: none;
    line-height: normal;
    font-size: 16px;
    &:hover{
      color:$colorPrimary;
    }
  }
  &__link{
    margin-bottom: 20px;
  }
}

