.block-basic {
  padding-bottom: 28px;
  &.m-red{
    &.block-basic{
      background-color: $colorPrimary;
      color:$colorWhite;
    }

  }
  &.m-shadow{
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }

}