.blog {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  @include media-320 {
    display: block;
  }

  &__categories {
    width: 300px;
  }
  &__li {
    font-size: 16px;
    text-transform: uppercase;
    max-width: 256px;
    & + & {
      margin-top: 20px;
    }
  }

  &__list {
    width: calc(100% - 300px - 70px);

  }
  &__item {
    display: flex;
    width: 100%;
    height: 308px;
    @include media-960 {
      display: block;
      height: auto;
    }

  }
  &__item-content {
    width: 50%;
    padding: 30px 0;
  }
  &__item:nth-child(even){
    flex-direction: row-reverse;
  }
  &__item:nth-child(even) &__item-content {
    padding-left: 30px;
    @include media-960 {
      padding-left: 0px;
    }
  }
  &__item-title {
    font-size: 24px;
    text-transform: uppercase;
    max-width: 400px;
  }
  &__item-text {
    max-width: 400px;
    padding: 20px 0px;


  }
  &__item-image {
    width: 50%;
    height: 308px;
    background: $colorGray400;
    @include media-960 {
      width: auto;
    }

  }

  &__button {
    margin: 30px auto;
  }
}