.blog {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  @include media-640 {
    display: block;
    padding: 10px 0px;
  }

  &__categories {
    //width: 300px;
    @include media-640 {
      height: 300px;
      overflow: scroll;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    &.m-nomobile{
      @include media-640{
      display:none;
      }
    }


  }
  &__ul {
    list-style: none;
    padding:0px;


  }
  &__li {
    list-style: none;
    padding:0px;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 256px;
    @include media-768 {
      font-size: 14px;
      width: 189px;
    }

    & + & {
      margin-top: 20px;
      @include media-640 {
        margin-top: 40px;
      }
    }
    @include media-320 {
      font-size: 14px;
      width: 180px;
    }
  }

  &__link{
    color: $colorBlack;
    transition: all 0.2s;
    text-decoration: none;
    &:hover{
      color: $colorPrimary;
    }
  }

  &__list {
    width: calc(100% - 256px - 70px);
    @include media-1200 {
      width: calc(100% - 235px - 70px);
    }
    @include media-768 {
      width: calc(100% - 189px - 70px);
    }
    @include media-640 {
      width:auto;
    }

  }
  &__item {
    display: flex;
    width: 100%;
    height: 308px;
    @include media-960 {
      display: block;
      height: auto;
      & + & {
        @include media-640 {
          margin-top: 60px;
        }
      }
    }
  }
  &__item-content {
    width: 50%;
    @include media-960 {
      width: auto;
    }
  }
  &__item + &__item &__item-content {
    padding-top: 30px;
    @include media-640 {
      padding-top: 0;
    }
  }
  &__item:nth-child(even){
    flex-direction: row-reverse;
  }
  &__item:nth-child(even)  &__item-content {
    padding-left: 30px;
    padding-bottom: 20px;


    @include media-960 {
      padding-left: 0px;
    }
  }
  &__item-title {
    display: block;
    text-decoration: none;
    color: $colorBlack;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 400px;
    @include media-1200 {
      font-size: 20px;
    }
    @include media-320 {
      font-size: 18px;
    }
    &:hover{
      color: $colorPrimary;
    }
  }
  &__item-text {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom:20px;
    //height: 130px;
    overflow: hidden;
    display: -webkit-box;
    textOverflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    @include media-960 {
      width: auto;
    }
    @include media-320 {
      font-size: 16px;
    }

  }
  &__item-image {
    display: block;
    text-decoration: none;
    width: 50%;
    height: 308px;
    //background: $colorGray400;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-960 {
      width: auto;
      margin-top:30px;
      margin-bottom: 40px;
    }
    @include media-320 {
      height: 240px;
    }

  }

  &__button {
    margin: 30px auto;
    @include media-768 {
      margin: 0 auto 30px auto;
    }
  }
}