.breadcrumbs {
  min-height: 35px;
  background: $colorPrimary;
  color:$colorWhite;
  font-size: 16px;
  display: flex;
  align-items: center;
  @include media-768 {
    min-height: 30px;
  }
  @include media-640 {
    min-height: 25px;
    font-size: 12px;
    padding: 10px 0 8px 0;
  }

  &__link{
    text-decoration: none;
    color:$colorWhite;
  }
  &__arrow{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    transform: translateY(1px);

  }
}
