.compare-block {
  background: $colorPrimary;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;

  &__text {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-left: 10px;
    transform: translateY(3px);
    @include media-768 {
      font-size: 18px;
    }
    @include media-320 {
      font-size: 14px;
    }
  }
}