.compare{
  &__top {
    display: flex;
    margin-bottom: 30px;
    @include media-640 {
      display: block;
    }
  }

  &__links{
    margin-left: 35px;
    @include media-640 {
      margin:15px auto 30px auto;
    }
  }

  &__bottom{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  &__products{
    display: flex;
    justify-content: space-between;
    width: 90%;
    @include media-640 {
      display: block;
      width: 100%;

    }
  }

  &__prod-add{
    position: relative;
    width: calc(100% / 3 - 145px);
    @include media-1440 {
      width: calc(100% / 3 - 80px);
    }
    @include media-1200 {
      width: calc(100% / 3 - 50px);
    }
    @include media-960 {
      width: calc(100% / 3 - 40px);
    }
    @include media-768 {
      width: calc(100% / 3 - 30px);
    }
    @include media-640 {
      width: auto;
  }
  }

  &__prod{
    position: relative;
    width: calc(100% / 3 - 145px);
    @include media-1440 {
      width: calc(100% / 3 - 80px);
    }
    @include media-1200 {
      width: calc(100% / 3 - 50px);
    }
    @include media-960 {
      width: calc(100% / 3 - 40px);
    }
    @include media-768 {
      width: calc(100% / 3 - 30px);
    }
    @include media-640 {
      width: auto;
    }


  }

  &__prod-link{
    color: $colorBlack;
    text-decoration: none;
    &:hover{
      color: $colorPrimary;
    }
    @include media-768 {
    font-size: 14px;
    }
    @include media-640 {
      text-align: center;
    }
  }

  &__name{
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: inherit;
    &:hover{
      color: $colorPrimary;
    }
  }

  &__image-add{
    display: block;
    text-decoration: none;
    background: $colorGray400;
    height: 292px;
    margin-bottom: 30px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-1200 {
      height: 245px;
    }
    @include media-960 {
      height: 190px;
    }
    @include media-768 {
      height: 145px;
    }
    @include media-640 {
      height: 240px;
    }
  }

  &__image{
    border:1px solid $colorGray400;
    height: 292px;
    margin-bottom: 30px;
    overflow: hidden;
    @include media-1200 {
      height: 245px;
    }
    @include media-960 {
      height: 190px;
    }
    @include media-768 {
      height: 145px;
    }
    @include media-640 {
      height: 240px;
    }

  }

  &__icon-del{
    position: absolute;
    top: -22px;
    right: -22px;
  }

  &__icon-add {
    position: absolute;
    bottom: 52%;
    left:43%;
    @include media-960 {
      bottom: 57%;
      left:40%;
    }
    @include media-640 {
      bottom: 50%;
      left:43%;
    }
  }
  &__td{
    width: 35%;
    @include media-1440 {
       width: 33%;
     }
    @include media-1200 {
      width: 32%;
    }
    @include media-960 {
      width: 29%;
    }
    @include media-768 {
      width: 26%;
    }
  }
}