.contact-us{
  &__form{

  }
  &__block1{
    display: flex;
    position: relative;
    margin-bottom: 15px;
    //align-items: center;
    &.block1-part{
      width: 50%;
    }
  }
  &__left {
    width: 35%;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 15px;
  }
  &__right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 15px;
  }
  &__radio {
    width: 50%;
    flex: 0 0 auto;
    margin-bottom: 20px;
  }
  &__input {
    display: block;
    border:none;
    background: $colorGray500;
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
  }
  &__input:focus{
    outline: none;
  }
  &__input:focus::-webkit-input-placeholder {
    color:transparent; }

  &__textarea{
    display: block;
    border:none;
    background: $colorGray500;
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 180px;
  }

  &__textarea:focus{
    outline: none;
  }

 

  &__circle {
    top:23px;
    left: 23px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.3);
    position: absolute;
    &.m-red {
      background:$colorPrimary;
    }
    .m-black {
      background: $colorBlack;
    }
  }
  &__input::placeholder, &__textarea::placeholder {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
    @include media-640 {
      font-size: 12px;
    }
  }
  &__captcha {
    width: 210px;
    height: 54px;
    background: $colorGray400;
  }

}