.title-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:28px;
  padding-bottom: 20px;

  &__text {
    margin: 0 30px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    word-wrap: normal;
    @include media-320 {
      font-size: 18px;
    }

  }
  &__line {
    flex: 1; // заполняем свободное пространство
    height: 2px;
    background-color: black;
    &.m-white {
      background-color: $colorWhite;
    }
  }
}











