.docs {
  margin-top: 25px;

  &__accordion{
    &.m-open .docs__head{
      color:$colorPrimary;
      & svg,
      & svg path {
        stroke: $colorPrimary
      }
    }
    &.m-open .docs__body{
      display: flex;
    }
    &.m-open .docs__icon-arrow{
      display: none;
    }
    &.m-open .docs__icon-arrow-active{
      display: block;
    }

  }
  &__head{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    background: $colorGray500;
    height: 54px;
    padding-right: 45px;
    align-items: center;
    margin-bottom: 30px;
    &:hover{
      color:$colorPrimary;
      & svg,
      & svg path {
        stroke: $colorPrimary
      }
    }

  }
  &__head-name{
    display: flex;
    align-items: center;
  }
  &__title{
    font-size: 18px;
    margin-left: 30px;
    &.m-active {
      color:$colorPrimary;
    }
    @include media-640{
      margin-left: 5px;
    }
  }

  &__body{
    display: none;
    flex-wrap: wrap;
    padding-bottom:20px;
  }

  &__icon-arrow{
    position: absolute;
    top:16px;
    right:20px;
  }

  &__icon-arrow-active{
    display:none;
    position: absolute;
    top:16px;
    right:20px;
  }


  &__item{
    width:16%;
    margin-right: 25px;
    margin-top:15px;
    border-bottom: 1px solid $colorGray500;
    @include media-640{
      width: 48%;
      margin: 1%;
    }
    @include media-320{
      width:auto;
    }

  }
  &__link{
    margin: 10px 0;
    color: $colorPrimary;
    text-decoration: none;
    display: inline-block;
  }
  &__format{
    display:block ;
  }
}
