.filter {
  &__title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
    &.m-nomobile{
      @include media-640 {
        display: none;
    }}
  }
  &__link {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__divider {
    height: 2px;
    background: $colorBlack;
    width: calc(100% + 7px);
    transform: translateX(-7px);
    right: 0;
  }
  &__item {}
  &__item-block1{
    margin-bottom: 20px;
  }
  &__item-label{
    transform: translateY(2px);
  }


  &__item-title {
    margin: 25px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: $colorPrimary;
  }

  &__item-width{
    margin-bottom: 35px;
  }

  &__item-length{
    margin-top: 25px;
    margin-bottom: 35px;
  }

  &__item-height{
    margin-top: 25px;
    margin-bottom: 35px;
  }
}