.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
  @include media-960 {
    height: 80px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  @include media-768 {
    height: 75px;

  }
  @include media-640 {
    height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  &__logo {
    text-decoration: none;
    width: calc(50% - 50px);
    @include media-1200 {
      width: 50%;
    }
    @include media-960 {
      width: 129px;
      height: 19px;
      & svg {
        width: 100%;
        height: 100%;
      }
      transform: translateY(2px);
    }
    @include media-768 {
      width: 40%;
    }
    @include media-640 {
      margin: 0 auto;
      text-align: center;
      transform: translateX(-17px);
      width: 90px;
      height: 13px;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
    @include media-320 {
      margin: 0 auto;
      text-align: center;
      transform: translateX(-17px);
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 36%;

    @include media-1200 {
      width: 50%;
    }
    @include media-640 {
      width: 100%;
      &.m-close{
        display: none;
      }

    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(64% - 320px);


    @include media-1440 {
      width: calc(64% - 180px);
    }
    @include media-1200 {
      width: calc(50% - 150px);
      padding-right: 90px;
    }
    @include media-960 {
      width: calc(50% - 50px);
      padding-right: 35px;
    }
    @include media-768 {
      width: calc(50% - 23px);
    }
    @include media-640 {
      display: none;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    &.m-nomobile {
      @include media-1200 {
        display: none;
      }
    }
  }

  &__city {
    font-size: 18px;
    color: $colorGray400;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateY(2px);
    margin-left: 8px;

  }

  &__phone {
    display: block;
    font-size: 24px;
    color: $colorPrimary;
    text-decoration: none;
    white-space: nowrap;
    transform: translateY(2px);
    @include media-1200 {
      margin-left: 5px;
    }
    @include media-1440 {
      font-size: 18px;
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 117px;
    background: $colorGray600;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    display: none;

    @include media-1200 {
      display: flex;
    }
    @include media-960 {
      height: 80px;
    }
    @include media-768 {
      width: 90px;
      height: 75px;
    }
    @include media-640 {
      width: 35px;
      height: 35px;
      padding: 0 10px;
    }

    &-lines {
      display: block;
      height: 4px;
      width: 100%;
      background: $colorPrimary;
      position: relative;
      @include media-640{
        height: 2px;
      }

      &::before {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: $colorPrimary;
        top: -12px;
        @include media-640{
          height: 2px;
          top: -8px;
        }
      }

      &::after {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: $colorPrimary;
        bottom: -12px;
        @include media-640{
          height: 2px;
          bottom: -8px;
        }
      }

    }
  }

  &__search {
    width: 270px;
    height: 37px;
    display: flex;
    position: relative;
    @include media-1440 {
      width: 225px;
    }
    @include media-1200 {
      width: calc(50% - 40px);
    }

    @include media-960 {
      height: 25px;
      width: 50%;
    }
    @include media-768 {
      width: calc(60% - 20px);
    }

    @include media-640 {
      width: auto;
    }}

  &__search-form.search__form {
    width: 100%;

    @include media-640 {
      width: 37px;
    }
  }

  &__search-inner.search__inner {
    width: 100%;
    height: 37px;
  }

  &__search-input.search__input {
    height: 37px;
    @include media-960 {
      height: 25px;
    }

    @include media-640 {
      display: none;
    }
  }

  &__search-icon.search__icon {
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    @include media-960 {
      height: 15px;
      width: 15px;
      background-size: 15px 15px;
    }
    @include media-640 {
      height: 20px;
      width: 20px;
      background-size: 20px 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 37px;

    }
  }

  &__search-responsive{
    display: none;
    position: relative;
    width:100%;


    &.m-open{
      @include media-640{
        display: flex;
      }
    }
  }

  &__responsive{
    display: flex;
    height: 25px;
    width: 195px;
    margin: 0 auto;
  }

  &__responsive-form{
    height: 25px;
    width: 100%;
  }

  &__responsive-inner{
    height: 25px;
  }

  &__responsive-input{
    &.header__responsive-input{
      height: 25px;
      width: 100%;
    }
  }

  &__responsive-icon{
    position: absolute;
    top:3px;
    left:-22px;
  }
}








