.header {
  display: flex;
  justify-content: space-between;
  &__left{
    display: flex;
    justify-content: space-between;
  }
  &__right{
    display: flex;
    justify-content: space-between;
  }
}
