.icon {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colorPrimary;
  border-radius: 50%;
  @include media-960 {
    width: 25px;
    height: 25px;
    & svg {
      width: 70%;
    }
  }
  &.m-normsvg {
    @include media-960 {
      & svg {
        width: 100%;
      }
    }
  }
  &.m-small{
  width: 21px;
  height: 21px;
}
  &.m-big{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorPrimary;
    border-radius: 50%;
    @include media-960 {
      width: 100px;
      height: 100px;
      & svg {
        width: 100%;
      }
    }
    @include media-640 {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 60px;
      height: 60px;

    }
  }
  &.m-center {
    margin: 0 auto;
  }
  &.m-block {
    margin-right: 10px;
    flex-wrap: wrap;
    @include media-640 {
      margin-bottom: 5px;
    }
  }
  &.m-link {
    width: 20px;
    height: 20px;
    background: none;
    margin-right: 10px;
  }

  &.m-small-svg {
    @include media-640 {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 60px;
      height: 60px;
      & svg {
        width: 60%;
      }

    }
  }

  &.header__icon{
    @include media-1440 {
      width: 21px;
      height: 21px;
      & svg {
        width: 60%;
      }
    }
  }
}