.instruction {
  &__listing{
    display: flex;

  }
  &__item{
    display: flex;
    flex-direction: column;
    width:16%;
    margin-right: 25px;
    @include media-960 {
      width:18%;
    }
    @include media-768{
      width:30%
    }
    @include media-640{
      width:auto;
    }
  &.m-nomobile-768{
    @include media-768{
    display: none;
  }
  }
   &.m-nomobile-640{
     @include media-640{
       display: none;
     }
   }
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    @include media-1440 {
      font-size: 16px;
    }
    @include media-1200 {
      font-size: 15px;
    }
    @include media-960 {
      font-size: 13px;
    }
    @include media-768 {
      font-size: 15px;
    }
  }
  &__icon{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 84px;
    height: 84px;
    display: block;
    text-decoration: none;
    &:hover{
      color:$colorPrimary;
      & svg,
      & svg path {
        fill: $colorPrimary
      }
    }
  }
  &__ul{
    list-style: none;
    margin-bottom: 20px;
  }
  &__li{
    border-bottom: 1px solid $colorGray500;
    margin-top: 10px;
    @include media-1200 {
      font-size: 15px;
    }
    @include media-960 {
      font-size: 13px;
    }
    @include media-768 {
      font-size: 15px;
    }

  }
  &__format{
    display:block ;
  }
  &__link{
    margin-bottom: 10px;
    color: $colorPrimary;
    text-decoration: none;
    display: inline-block;
  }

}