.link {
  color: $colorBlack;
  text-decoration: none;
  &:hover{
    color: $colorPrimary;
  }

  &.m-line {
    text-decoration: underline;
  }
}
.text-phone {
  text-decoration: none;
  color:$colorPrimary;
}