.link-act {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.link-act-margin{
    margin-top: 20px;
  }

}
.link {
  &__text {
    color:$colorBlack;
    text-decoration: none;
    line-height: normal;
    font-size: 16px;
    padding-top: 5px;
    &:hover{
     color:$colorPrimary;
     & svg,
     & svg path {
       fill: $colorPrimary
     }
   }

    &.m-white {
      color: $colorWhite;
    }
    &.m-red {
      color: $colorPrimary;
    }
    &.m-big {
      font-size: 18px;
      text-transform: uppercase;
      @include media-320 {
        font-size: 14px;
      }
    }

  }
  }

