.navigation-icons {
  padding-top:40px;
  padding-bottom: 40px;
  @include media-768 {
    padding:0px;
  }
  @include media-320 {
    padding-bottom: 0px;
  }

  &__block1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-320 {
      display:block;

    }
  }
}

