.product-detail{

  &__block{
    padding-top: 25px;
    width:73%;
    margin: 0 auto;
    padding-bottom: 30px;

    @include media-1440 {
      width:82%;
    }
    @include media-1200 {
      width:100%;
    }
  }

  &__block1{
    width:auto;
    margin: 0 auto;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-640 {
      display: block;
    }
  }

  &__block2{
    width: calc(50% - 100px);
    @include media-1440 {
      width: calc(55% - 100px);
    }
    @include media-1200 {
     width: calc(52% - 100px);
    }
    @include media-960 {
      width: calc(62% - 60px);
    }
    @include media-768 {
      width: calc(59% - 40px);
      height: 307px;
    }
    @include media-640 {
      height: 307px;
      width: auto;
    }
    @include media-320 {
      height: 240px;
    }
  }

  &__image{
    width: 100%;
    //background: $colorGray400;
    height: 400px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-768 {
      height: 307px;
    }

    @include media-320 {
      height: 240px;
    }
  }

  &__zoom{
    //width: calc(50% - 100px);
    text-align: center;
    margin: 25px auto 0 auto;

  }

  &__zoom-text{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transform: translateY(-7px);
    &:hover{
      color: $colorPrimary;
    }
  }

  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    @include media-1440 {
      width: 45%;
    }
    @include media-1200 {
      width: 48%;
    }
    @include media-960 {
      width: 38%;
    }
    @include media-768 {
      width: 41%;
    }
    @include media-640 {
      margin-top: 80px;

      width: 100%;
    }
  }

  &__divider{
    height: 2px;
    background: $colorBlack;
    width: 190px;
    @include media-640 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  &__desc{
    @include media-640 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }


  &__text{
    @include media-640 {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  &__button{
    width: 195px;
  }

  &__docs{
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @include media-768 {
      display: block;
    }
  }

  &__docs-links{
    @include media-768 {
    margin-bottom: 20px;
    }


}

  &__docs-text{
    width: 60%;

    @include media-960 {
      width: 50%;
    }
    @include media-768 {
      width: auto;
    }
  }

}
