.questions{
  padding-left: 115px;
  padding-right: 115px;
  margin-bottom:30px;
  @include media-1440 {
    padding:0px;
  }
  &__item {
    border-bottom: 1px solid $colorGray500;
    &.m-open .questions__head {
      &::before {
        display: none;
      }
      &::after {
        background-color: $colorPrimary;
      }
    }
    &.m-open .questions__name {
      color: $colorPrimary;
    }
    &.m-open .questions__body {
      display: block;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 20px;
      height: 4px;
      border-radius: 2px;
      top: calc(50% - 4px);
      right: 0;
      background-color: $colorBlack;
    }
    &::before {
      position: absolute;
      content: '';
      display: block;
      height: 20px;
      width: 4px;
      border-radius: 2px;
      top: calc(50% - 12px);
      right: 8px;
      background-color: $colorBlack;
    }
  }
  &__name {
    position: relative;
    display: block;
    text-decoration: none;
    color:$colorBlack;
    margin-right: 40px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow:auto;
    &:hover {
      color:$colorPrimary;
    }
  }
  &__text {
    border-bottom: 1px solid $colorGray500;
  }
  &__body {
    display: none;
    padding: 40px 50px 40px 0;
  }
  &__button {
    margin: 0 auto 30px auto;
  }
}
