.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 103px;
  background: $colorGray600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  transition: width 0.2s ease-out;

  @include media-1200 {
    &:not(.m-open) {
      display: none;
    }
  }

  &.m-open {
    width: 460px;
    & .sidebar__burger {
      display: none;
    }
    & .sidebar__close {
      display: block;
    }
    @include media-640{
      width: 320px;
    }
  }

  &__burger {
    cursor: pointer;
    position: relative;
    width: 103px;
    height: 100px;
    border: none;
    padding: 0 25px;
    background: $colorGray600;

    &-lines {
      display: block;
      height: 4px;
      width: 100%;
      background: $colorPrimary;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: $colorPrimary;
        top: -12px;
      }

      &::after {
        position: absolute;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: $colorPrimary;
        bottom: -12px;
      }
    }
  }

  &__close {
    display: none;
    cursor: pointer;
    position: relative;
    width: 103px;
    height: 100px;
    border: none;
    padding: 0 25px;
    background: $colorGray600;
  }

  &__body{
    overflow: auto;
  }

  &__menu{
    margin-left: 60px;
    @include media-640{
      margin-left: 20px;
    }

    &.m-sub{
      color: #898989;
      margin-left:25px;
    }

  }

  &__item{
    display: flex;
    align-items: center;

    margin-bottom: 15px;

  }

  &__icon{
    margin-right: 20px;
  }

  &__text{
    text-transform: uppercase;
    font-size: 18px;
  }

  &:not(.m-open) {
    .sidebar__menu.m-sub {
      display: none;
    }
    .sidebar__menu {
      margin-left:25px;
    }
    .sidebar__text {
      display: none;
    }

  }
}
