.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  @include media-960 {
    width: 87px;
  }
  &.header__social-links{
    @include media-1440 {
      width: 72px;
    }
  }
}