h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: $colorPrimary;
  max-width: 657px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  max-width: 657px;

}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  line-height: normal;
  margin-block-end: 2em;
}
.text{
  line-height: normal;
  font-size: 16px;
  &__ul{
    margin: 60px 0 60px 0;
    padding-inline-start:15px;
  }
  &__li{
    margin-bottom: 20px;
}

}