.text2 {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-1440 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include media-960 {
    padding-bottom: 50px;
  }

  &__content {
    flex: 1;
    line-height: normal;
    font-size: 16px;
    margin-right: 100px;
    @include media-1440 {
      margin-right: 40px;
    }
    @include media-960 {
      margin-right: 0;
    }
  }
  &__image {
    height: 382px;
    width: 50%;
    margin-top: 20px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include media-1440 {
      width: 47%;
    }
    @include media-1200 {
      width: 43%;
    }
    @include media-960 {
      width: 65%;
      height: 253px;
      margin: 0 auto;
    }
    @include media-768 {
      width: 73%;
    }

    @include media-640 {
      width: 95%;
    }
    @include media-320 {
      width: 100%;
      height: 240px;
    }
  }

  &.m-red {
    background: $colorPrimary;
    color: $colorWhite;
  }
}

.text-2 {
  display: flex;
  @include media-960 {
    display: block;
  }

}