.title-icon {
  display: flex;
  margin: 35px auto;
  align-items: flex-end;
  max-width: 783px;
  @include media-640 {
    display: block;
    width: auto;

  }
  &.title-icon-partners{
    align-items: center;
    @include media-640 {
      margin-top: 10px;
    }
  }

  &__content {
    font-size: 16px;
    margin-left: 60px;
    width: calc(100% - 180px);
    @include media-640 {
      margin-left: 0px;
      width:auto;

    }
  }


  &__text.m-big {

    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
    @include media-640 {
      width: auto;
    }
  }

}


