.title-icon {
  display: flex;
  margin: 35px auto;
  align-items: flex-end;
  max-width: 783px;
  @include media-320 {
    display: block;
    max-width: auto;
  }

  &__content {
    font-size: 16px;
    margin-left: 66px;
    @include media-320 {
      margin-left: 0px;
      font-size: 16px;
    }
  }


  &__text.m-big {
    max-width: 920px;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
    @include media-320 {
      max-width: auto;
    }
  }

}


