<div class="product-card <%=className %> compare-goto">
    <a href="#" class="link__text link-act product-card__tocompare-add">
        <div class="icon m-link product-card__tocompare">
            <svg width="20" height="20"><use xlink:href="#svg-compare-link"></use></svg>
            <svg class="icon-compare-goto"><use xlink:href="#svg-compare-goto" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </div>
        <div class="product-card__tocompare product-card__tocompare-text">Добавить для сравнения</div>
        <div class="product-card__gotocompare">
            Товар в сравнении (перейти)
        </div>
        <div class="product-card__cantcompare">
            Не более трех товаров для  сравнения
        </div>
    </a>
    <a href="#" class="product-card__image">
        <% if (sticker) { %>
        <div class="shild"><%=sticker %></div>
        <% } %>
        <img alt="" class="m-zoom" src="https://70.img.avito.st/640x480/3339853570.jpg"/>
    </a>
    <a href="#" class="product-card__title">
        ГАЗОВАЯ ПЛИТА 1E8 GM241 015 Bg
    </a>
    <div class="product-card__prop">
        Размер плиты: 50*60 см
    </div>
    <div class="product-card__prop">
        Цвет: бежевый
    </div>
    <div class="product-card__bottom">
        <div class="block-icons">
            <div class="icon m-block product-card__icon">
                <svg width="20" height="21"><use xlink:href="#svg-product-card-icon1"></use></svg>
            </div>
            <div class="icon m-block product-card__icon">
                <svg width="16" height="21" ><use xlink:href="#svg-product-card-icon2"></use></svg>
            </div>
        </div>
        <a href="#" class="button product-card__button m-padding">Подробнее</a>
    </div>
</div>