<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/svg.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<div class="container"><h1>Чайковский филиал АО “Газпром бытовые системы”</h1></div>

    <div class="text2">
        <div class="container text-2">


        <div class="text2__content">
            <h3>История</h3>
            <p>Чайковский филиал является одним из немногих в России предприятием по производству бытовых плит, возведенных без привлечения иностранного капитала;</p>

            <p>завод построен немецкой фирмой "GABEG";</p>

            <p>первоначальная конструкция плиты «Darina» была разработана европейскими специалистами одного из крупнейших в Европе производителей бытовой техники - фирмы "Brandt" (Франция);</p>

            <p>первая бытовая плита была выпущена с конвейера Чайковского филиала 24 октября 1998 года; • в 2003 году предприятие вышло на свою проектную мощность в 250 000 плит в год; • 8 июля 2005 года предприятие выпустило юбилейную 1 000 000 плиту;</p>

            <p>в 2013 году была выпущена уже 3 000 000 плита;</p>

            <p>23 января 2013 года представители международной сети сертификации IQNet (г. Берн, Швейцария) вручили Чайковскому заводу газовой аппаратуры сертификаты системы менеджмента качества (СМК), удостоверяющие, что система менеджмента качества (СМК) существующая на заводе, соответствует требованиям ISO 9001:2008 и ГОСТР ИСО 9001-2008 применительно к проектированию, производству и сервисному обслуживанию газовых, электрических, комбинированных плит, встраиваемой кухонной техники торговой марки "Darina" различных моделей и модификаций;</p>

            <p>так же завод получил право нанесения на продукцию и упаковку ТМ "Darina" знака «ACCREDIA», что означает, что система менеджмента качества сертифицирована и знака соответствия IQNet, известного во всём мире как символ высокого уровня качества менеджмента и компетентности.</p>
        </div>
            <div class="text2__image">
                <img alt="" class="m-zoom" src="https://www.topdom.ru/gallery/flats/18/3.jpg"/>
            </div>
        </div>


</div>

<div class="text2 m-red">
    <div class="container text-2">


        <div class="text2__content">
            <h3>Производство</h3>
            <p>Предприятие оснащено современным, высокоточным оборудованием ведущих европейских фирм, таких как Agie, Dekel, Maho, Mikron и т.д.;</p>

            <p>на заводе внедрены современные передовые методы производства, обеспечивающие высокую степень автоматизации и европейский уровень качества продукции, а система автоматизированного проектирования позволяет заводу в кратчайшие сроки осваивать выпуск новых изделий;</p>

            <p>для производства широко используются как отечественные, так и
                импортные материалы, комплектующие детали и узлы, в том числе произведенные на филиалах АО "Газпром бытовые системы".</p>
        </div>
        <div class="text2__image">
            <img alt="" class="m-zoom" src="https://www.topdom.ru/gallery/flats/18/3.jpg"/>
        </div>

    </div>
</div>

<div class="text2">
    <div class="container text-2">

        <div class="text2__content">
            <h3>Продукция</h3>
            <p>На Чайковском заводе выпускается более 50 моделей газовых, газоэлектрических, электрических плит под брендом «Darina»;</p>

            <p>учитывая потребности рынка, с 2008 года на Чайковском заводе стали производить встраиваемую технику: варочные панели и духовые шкафы;</p>

            <p>на предприятии, кроме того, производятся комплектующие изделия и материалы для бытовых плит (газовые горелки, решетки стола, эмали порошковые и т.д.), использующиеся при производстве плит известных компаний;</p>

            <p>в продукции учитываются многочисленные требования по обеспечению высокого уровня качества, современного дизайна по доступным ценам. В этой связи постоянно разрабатываются новые решения, касающиеся функциональности продукции, удобства монтажа, безопасности эксплуатации, а так же адаптации к российским климатическим условиям;</p>

            <p>высокое качество продукции под маркой "Darina" по достоинству оценено как российскими, так и зарубежными потребителями, а также подтверждено многочисленными всероссийскими конкурсами;</p>

            <p>Чайковский филиал неоднократно признавался одним из лучших предприятий не только Пермского края, но и всей России.</p>

        </div>
        <div class="text2__image">
            <img alt="" class="m-zoom" src="https://www.topdom.ru/gallery/flats/18/3.jpg"/>
        </div>

    </div>
</div>

<script src="/js/PageAbout.js"></script>
<script type="application/javascript">
  PageAbout.init()
</script>

<%= _.template(require('./../includes/footer.html'))() %>