<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>
<div class="carousel">
    <div class="owl-carousel carousel__content banner js-banner">
        <div class="banner__slide">
            <img src="http://www.kiff.kiev.ua/images/stories/2017/freedom1.jpg"/>
        </div>
        <div class="banner__slide">
            <img src="https://avatars.mds.yandex.net/get-pdb/33827/f2d603c8-a0f6-4ae7-b363-7061ec663a0d/orig"/>
        </div>
        <div class="banner__slide">
            <img src="http://www.kiff.kiev.ua/images/stories/2017/freedom1.jpg"/>
        </div>
        <div class="banner__slide">
            <img src="https://avatars.mds.yandex.net/get-pdb/33827/f2d603c8-a0f6-4ae7-b363-7061ec663a0d/orig"/>
        </div>
    </div>
    <div class="carousel__dots js-banner-dots"></div>
</div>
<div class="container">
    <div class="title-icon">
        <div class="icon m-big">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100Z" fill="#E9454F"/>
                <path d="M72.6349 74.3553H71.2022C70.4859 74.3553 69.7695 73.7822 69.7695 72.9226C69.7695 72.063 70.3426 71.49 71.2022 71.49H72.6349C74.7839 71.49 76.5031 69.7708 76.5031 67.6218V35.9599C76.5031 35.6733 76.2165 35.3868 75.93 35.3868H71.2022C70.4859 35.3868 69.7695 34.8137 69.7695 33.9541C69.7695 33.2378 70.3426 32.5215 71.2022 32.5215H75.93C77.7925 32.5215 79.2251 33.9541 79.2251 35.8166V67.4785C79.3684 71.3467 76.3598 74.3553 72.6349 74.3553Z" fill="white"/>
                <path d="M71.2024 66.3324C70.4861 66.3324 69.7698 65.7594 69.7698 64.8998V28.0803C69.7698 27.7938 69.34 27.5072 68.7669 27.5072H27.6494C27.0764 27.5072 26.6466 27.7938 26.6466 28.0803V33.0946C26.6466 33.8109 26.0735 34.5273 25.2139 34.5273C24.3543 34.5273 23.7812 33.9542 23.7812 33.0946V28.0803C23.7812 26.2178 25.5004 24.7852 27.5062 24.7852H68.6237C70.6294 24.7852 72.3486 26.2178 72.3486 28.0803V65.043C72.6351 65.7594 71.9188 66.3324 71.2024 66.3324Z" fill="white"/>
                <path d="M62.0347 74.3554H30.516C26.7911 74.3554 23.9258 71.3468 23.9258 67.7652V42.2637C23.9258 41.5474 24.4988 40.8311 25.3584 40.8311C26.218 40.8311 26.7911 41.4041 26.7911 42.2637V67.6219C26.7911 69.7709 28.5103 71.4901 30.6593 71.4901H62.1779C62.8943 71.4901 63.6106 72.0631 63.6106 72.9227C63.6106 73.7823 62.751 74.3554 62.0347 74.3554Z" fill="white"/>
                <path d="M64.6119 34.671H31.3741C30.6577 34.671 29.9414 34.0979 29.9414 33.2383C29.9414 32.522 30.5145 31.8057 31.3741 31.8057H64.6119C65.3282 31.8057 66.0446 32.3787 66.0446 33.2383C66.0446 33.9547 65.4715 34.671 64.6119 34.671Z" fill="white"/>
                <path d="M64.6106 40.9747H51.1436C50.4273 40.9747 49.7109 40.4016 49.7109 39.542C49.7109 38.8257 50.284 38.1094 51.1436 38.1094H64.6106C65.327 38.1094 66.0433 38.6824 66.0433 39.542C66.0433 40.4016 65.4702 40.9747 64.6106 40.9747Z" fill="white"/>
                <path d="M64.6106 47.2784H51.1436C50.4273 47.2784 49.7109 46.7053 49.7109 45.8458C49.7109 45.1294 50.284 44.4131 51.1436 44.4131H64.6106C65.327 44.4131 66.0433 44.9862 66.0433 45.8458C66.0433 46.7053 65.4702 47.2784 64.6106 47.2784Z" fill="white"/>
                <path d="M64.6106 53.7247H51.1436C50.4273 53.7247 49.7109 53.1516 49.7109 52.292C49.7109 51.4324 50.284 50.8594 51.1436 50.8594H64.6106C65.327 50.8594 66.0433 51.4324 66.0433 52.292C66.0433 53.1516 65.4702 53.7247 64.6106 53.7247Z" fill="white"/>
                <path d="M64.6106 59.8858H51.1436C50.4273 59.8858 49.7109 59.3128 49.7109 58.4532C49.7109 57.5936 50.284 57.0205 51.1436 57.0205H64.6106C65.327 57.0205 66.0433 57.5936 66.0433 58.4532C66.0433 59.3128 65.4702 59.8858 64.6106 59.8858Z" fill="white"/>
                <path d="M64.6106 66.1895H51.1436C50.4273 66.1895 49.7109 65.6165 49.7109 64.7569C49.7109 64.0406 50.284 63.3242 51.1436 63.3242H64.6106C65.327 63.3242 66.0433 63.8973 66.0433 64.7569C66.0433 65.6165 65.4702 66.1895 64.6106 66.1895Z" fill="white"/>
                <path d="M44.8411 53.7254H31.3741C30.6577 53.7254 29.9414 53.1524 29.9414 52.2928V39.542C29.9414 38.8257 30.5145 38.1094 31.3741 38.1094H44.8411C45.5575 38.1094 46.2738 38.6824 46.2738 39.542V52.2928C46.2738 53.0091 45.5575 53.7254 44.8411 53.7254ZM32.8067 50.8601H43.4085V40.9747H32.8067V50.8601Z" fill="white"/>
                <path d="M44.8411 59.8858H31.3741C30.6577 59.8858 29.9414 59.3128 29.9414 58.4532C29.9414 57.5936 30.5145 57.0205 31.3741 57.0205H44.8411C45.5575 57.0205 46.2738 57.5936 46.2738 58.4532C46.2738 59.3128 45.5575 59.8858 44.8411 59.8858Z" fill="white"/>
                <path d="M44.8411 66.1895H31.3741C30.6577 66.1895 29.9414 65.6165 29.9414 64.7569C29.9414 64.0406 30.5145 63.3242 31.3741 63.3242H44.8411C45.5575 63.3242 46.2738 63.8973 46.2738 64.7569C46.2738 65.6165 45.5575 66.1895 44.8411 66.1895Z" fill="white"/>
            </svg>


        </div>
        <div class="title-icon__content">
            <div class="title-icon__text m-big">Блог компании DARINA</div>
            <div class="title-icon__text">Полезные статьи, которые помогут определится с выбором плиты, ответят на ряд вопросов по эксплуатации и процессе приготовления пищи с помощью техники Darina.</div>
        </div>
    </div>

    <div class="blog">
        <div class="blog__categories">
            <ul class="blog__ul">
                <li class="blog__li">Что делать, если в газовой духовке подгорает низ</li>
                <li class="blog__li">Пиролитическая система очистки духовки</li>
                <li class="blog__li">Особенности тушения в духовке</li>
                <li class="blog__li">Каталитическая система очистки духовки</li>
                <li class="blog__li">Как правильно готовить мясо и рыбу в духовке</li>
                <li class="blog__li">Как выпекать в духовке: советы</li>
                <li class="blog__li">Как выбрать противень для духовки</li>
                <li class="blog__li">Выбор посуды для индукционной плиты</li>
                <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
                <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>
                <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
                <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>
                <li class="blog__li">Что делать, если в газовой духовке подгорает низ</li>
                <li class="blog__li">Пиролитическая система очистки духовки</li>
                <li class="blog__li">Особенности тушения в духовке</li>
                <li class="blog__li">Каталитическая система очистки духовки</li>
                <li class="blog__li">Как правильно готовить мясо и рыбу в духовке</li>
                <li class="blog__li">Как выпекать в духовке: советы</li>
                <li class="blog__li">Как выбрать противень для духовки</li>
                <li class="blog__li">Выбор посуды для индукционной плиты</li>
                <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
                <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>
                <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
                <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>

            </ul>
        </div>
        <div class="blog__list">
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>
                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>
                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__item-content">
                    <div class="blog__item-title">Как очистить стеклокерамическую плиту</div>
                    <div class="blog__item-text">
                        Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
                    </div>

                    <button class="button">Подробнее</button>
                </div>
                <div class="blog__item-image">
                    <img src="https://st.depositphotos.com/1308396/1857/i/450/depositphotos_18576151-stock-photo-kitchen-stove.jpg"/>
                </div>
            </div>


        </div>

    </div>
    <div class="pagination">
        <div class="pagination__left">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.9427 16.3717L7.34375 11.6001" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.9427 6.82861L7.34375 11.6002" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.0254 20.2294C14.5533 21.0924 12.8274 21.6 11 21.6C5.46701 21.5492 1 17.0822 1 11.6C1 9.67105 1.55838 7.84364 2.52284 6.3208" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.48438 2.66609C7.85493 2.00619 9.37778 1.6001 11.0021 1.6001C16.5351 1.6001 21.0021 6.0671 21.0021 11.6001C21.0021 13.4275 20.4945 15.1026 19.6823 16.5747" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </div>
        <div class="pagination__num">
            <a class="pagination__link m-active" href="#">1</a>
            <a class="pagination__link" href="#">2</a>
            <a class="pagination__link" href="#">3</a>
            <a class="pagination__link" href="#">4</a>
            <a class="pagination__link" href="#">5</a>
        </div>
        <div class="pagination__right">
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.05727 6.22843L15.6562 11" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.05727 15.7715L15.6562 10.9999" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.97462 2.37067C8.4467 1.50772 10.1726 1.00011 12 1.00011C17.533 1.05087 22 5.51788 22 11.0001C22 12.929 21.4416 14.7565 20.4772 16.2793" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5156 19.934C15.1451 20.5939 13.6222 21 11.9979 21C6.46486 21 1.99786 16.533 1.99786 11C1.99786 9.17259 2.50547 7.49746 3.31766 6.02538" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </div>
    </div>
</div>

<script src="/js/PageBlog.js"></script>
<script type="application/javascript">
  PageBlog.init()
</script>

<%= _.template(require('./../includes/footer.html'))() %>