<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<div class="container">

    <h1>Чайковский филиал АО “Газпром бытовые системы”</h1>
    <div class="contacts">


            <div class="contacts__block">
                <div class="contacts__list">

                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/loc.svg"></div>
                        <div class="contacts__text">Адрес: Промышленная зона Сутузово (г. Чайковский, Пермский край)</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/phone.svg"></div>
                        <div class="contacts__text"><span class="contacts__phone">8-800-775-80-78</span><br> Телефон бесплатной горячей связи</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/email.svg"></div>
                        <div class="contacts__text">E-mail: info@darina.su <br> Факс: +7 (34241) 7-28-23</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/phone.svg"></div>
                        <div class="contacts__text">Бюро сервисного обслуживания:<br> +7 (34241) 7-28-88</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/email.svg"></div>
                        <div class="contacts__text">E-mail: service@darina.su</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/ogrn.svg"></div>
                        <div class="contacts__text">Реквизиты компании:<br> ОГРН: 1027700008390<br> ИНН/КПП: 7709014944/781401001</div>
                    </div>

                </div>

                <div class="contacts__map"></div>

            </div>
        <div class="contact-us">
            <h2>Обратная связь</h2>
            <div class="contact-us__text">
                <p>Пользуясь сервисом Обратной связи, Вы можете быть уверены, что Ваше сообщение не останется
                    без внимания и будет на контроле у руководителя соответствующего подразделения.</p>

                <form class="contact-us__form">
                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="ФИО">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Название вашей компании">
                        <div class="contact-us__circle"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Город">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Контактный телефон">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Email">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Название модели">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Дата выпуска">
                        <div class="contact-us__circle"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Заводской номер">
                        <div class="contact-us__circle "></div>
                    </div>

                    <div class="contact-us__block1">
                        <div class="contact-us__left">
                            Выберите предпочтительный способ связи
                        </div>
                        <div class="contact-us__right">
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r-phone" name="radio-group" checked>
                                <label for="r-phone">Телефон</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r-email" name="radio-group">
                                <label for="r-email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Удобное время для связи">
                        <div class="contact-us__circle "></div>
                    </div>

                    <div class="contact-us__block1">
                        <div class="contact-us__left">
                            Выберите категорию сообщения
                        </div>
                        <div class="contact-us__right">
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r1" name="radio-group" checked>
                                <label for="r1">Задать вопрос</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r2" name="radio-group">
                                <label for="r2">Выразить благодарность</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r3" name="radio-group">
                                <label for="r3">Сообщать информацию</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r4" name="radio-group">
                                <label for="r4">Высказать претензию</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/PageContacts.js"></script>
<script type="application/javascript">
  PageContacts.init()
</script>

<%= _.template(require('./../includes/compare-block.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
