<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>



<div class="container">

    <h1>Чайковский филиал АО “Газпром бытовые системы”</h1>
    <div class="contacts">


            <div class="contacts__block">
                <div class="contacts__list">

                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/loc.svg"></div>
                        <div class="contacts__text">Адрес: Промышленная зона Сутузово (г. Чайковский, Пермский край)</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/phone.svg"></div>
                        <div class="contacts__text"><span class="contacts__phone">8-800-775-80-78</span><br> Телефон бесплатной горячей связи</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/email.svg"></div>
                        <div class="contacts__text">E-mail: info@darina.su <br> Факс: +7 (34241) 7-28-23</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/phone.svg"></div>
                        <div class="contacts__text">Бюро сервисного обслуживания:<br> +7 (34241) 7-28-88</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/email.svg"></div>
                        <div class="contacts__text">E-mail: service@darina.su</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon"><img src="/img/ogrn.svg"></div>
                        <div class="contacts__text">Реквизиты компании:<br> ОГРН: 1027700008390<br> ИНН/КПП: 7709014944/781401001</div>
                    </div>

                </div>

                <div class="contacts__map"></div>

            </div>




    </div>

</div>


<%= _.template(require('./../includes/compare-block.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
