<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/svg.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>

<div class="container">

    <h1>Чайковский филиал АО “Газпром бытовые системы”</h1>
    <div class="contacts">


        <div class="contacts__block">
            <div class="contacts__list">

                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/loc.svg"></div>
                    <div class="contacts__text">Адрес: Промышленная зона Сутузово (г. Чайковский, Пермский край)</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/phone.svg"></div>
                    <div class="contacts__text"><span class="contacts__phone">8-800-775-80-78</span><br> Телефон бесплатной горячей связи</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/email.svg"></div>
                    <div class="contacts__text">E-mail: info@darina.su <br> Факс: +7 (34241) 7-28-23</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/phone.svg"></div>
                    <div class="contacts__text">Бюро сервисного обслуживания:<br> +7 (34241) 7-28-88</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/email.svg"></div>
                    <div class="contacts__text">E-mail: service@darina.su</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__icon"><img alt="" src="/img/ogrn.svg"></div>
                    <div class="contacts__text">Реквизиты компании:<br> ОГРН: 1027700008390<br> ИНН/КПП: 7709014944/781401001</div>
                </div>

            </div>

            <div class="contacts__map" id="map"></div>

        </div>
        <div class="contact-us">
            <h2>Обратная связь</h2>
            <div class="contact-us__text">
                <p>Пользуясь сервисом Обратной связи, Вы можете быть уверены, что Ваше сообщение не останется
                    без внимания и будет на контроле у руководителя соответствующего подразделения.</p>

                <form class="contact-us__form">
                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="ФИО">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Название вашей компании">
                        <div class="contact-us__circle"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Город">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Контактный телефон">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Email">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Название модели">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Дата выпуска">
                        <div class="contact-us__circle"></div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Заводской номер">
                        <div class="contact-us__circle "></div>
                    </div>

                    <div class="contact-us__block1">
                        <div class="contact-us__left">
                            Выберите предпочтительный способ связи
                        </div>
                        <div class="contact-us__circle m-red"></div>
                        <div class="contact-us__right">
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r-phone" name="radio-group" checked>
                                <label for="r-phone">Телефон</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r-email" name="radio-group">
                                <label for="r-email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Удобное время для связи">
                        <div class="contact-us__circle "></div>
                    </div>

                    <div class="contact-us__block1">
                        <div class="contact-us__left">
                            Выберите категорию сообщения
                        </div>
                        <div class="contact-us__circle m-red"></div>
                        <div class="contact-us__right">
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r1" name="radio-group" checked>
                                <label for="r1">Задать вопрос</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r2" name="radio-group">
                                <label for="r2">Выразить благодарность</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r3" name="radio-group">
                                <label for="r3">Сообщать информацию</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r4" name="radio-group">
                                <label for="r4">Высказать претензию</label>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us__block1">
                        <input class="contact-us__input" type="text" placeholder="Тема обращения">
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block1">
                        <div class="contact-us__left">
                            Выберите отдел
                        </div>
                        <div class="contact-us__circle m-red"></div>
                        <div class="contact-us__right">
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r5" name="radio-group" checked>
                                <label for="r5">Приемная</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r6" name="radio-group">
                                <label for="r6">Отдел продаж</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r7" name="radio-group">
                                <label for="r7">Бюро сервисного обслуживания</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r8" name="radio-group">
                                <label for="r8">Отдел кадров</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r9" name="radio-group">
                                <label for="r9">Отдел материально-технического снабжения</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r10" name="radio-group">
                                <label for="r10">Группа по продвижению продукции</label>
                            </div>
                            <div class="radio contact-us__radio">
                                <input type="radio" id="r11" name="radio-group">
                                <label for="r11">Без привызки к конкретному отделу</label>
                            </div>
                        </div>
                    </div>

                    <div class="contact-us__block1">
                        <textarea class="contact-us__textarea" type="text" placeholder="Сообщение"></textarea>
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block2">
                        <div class="contact-us__block1 block1-part ">
                            <input class="contact-us__input m-height" type="text" placeholder="Введите текст с картинки">
                            <div class="contact-us__circle m-red"></div>
                        </div>
                        <div class="block1-part">
                            <div class="contact-us__captcha"></div>
                            <div class="contact-us__captcha contact-us__captcha-text">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.844 7.01515L17.0406 6.37652L16.7404 3.11882" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.4428 13.3573C17.3604 17.397 13.262 19.7876 9.25816 18.7148C5.25427 17.6419 2.8715 13.5147 3.95394 9.47499C5.03639 5.43525 9.16353 3.05238 13.1674 4.12522C14.406 4.4571 15.5014 5.09324 16.3904 5.92329" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Обновить картинку
                            </div>
                        </div>
                    </div>

                    <div class="contact-us__block1 block1-part m-nomargin ">
                        <div class="contact-us__left contact-us__form-text ">
                            Поля обязательные для заполнения
                        </div>
                        <div class="contact-us__circle m-red"></div>
                    </div>

                    <div class="contact-us__block2 m-approvals">
                        <div class="contact-us__approvals">
                            <div class="contact-us__block1 contact-us__approval">
                                <div class="radio contact-us__radio-link">
                                    <input type="checkbox" id="r12" name="radio-group">
                                    <label for="r12">Согласие на <a href="#" class="contact-us__link">обработку персональных данных</a> </label>
                                </div>
                            </div>
                            <div class="contact-us__block1 contact-us__approval">

                                <div class="radio contact-us__radio-link">
                                    <input type="checkbox" id="r13" name="radio-group">
                                    <label class="contact-us__label" for="r13">Согласие c <a href="#" class="contact-us__link">"условиями конфиденциальности"</a> </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button m-red contact-us__button">Отправить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/PageContacts.js"></script>
<script type="application/javascript">
  PageContacts.init()
</script>

<%= _.template(require('./../includes/compare-block.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
