<%= _.template(require('./../includes/header.html'))() %>
<div class="container">
  <div class="divider-title">
    <div class="divider-title__half"></div>
    <div class="divider-title__name">Блог</div>
    <div class="divider-title__half"></div>
  </div>

  <div class="blog">
    <div class="blog__list">
      <div class="blog__item">
        <div class="blog__item-content">
          <div class="blog__item-title">Как очистить стеклакерамическую плиту</div>
          <div class="blog__item-text">
            Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
          </div>

          <button class="button">Подробнее</button>
        </div>
        <div class="blog__item-image"></div>
      </div>
      <div class="blog__item">
        <div class="blog__item-content">
          <div class="blog__item-title">Как очистить стеклакерамическую плиту</div>
          <div class="blog__item-text">
            Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
          </div>
          <button class="button">Подробнее</button>
        </div>
        <div class="blog__item-image"></div>
      </div>
      <div class="blog__item">
        <div class="blog__item-content">
          <div class="blog__item-title">Как очистить стеклакерамическую плиту</div>
          <div class="blog__item-text">
            Эти зеркальные поверхности легко вписываются  в интерьер, выглядят лаконично и строго, однако требуют специфического ухода.
          </div>
          <button class="button">Подробнее</button>
        </div>
        <div class="blog__item-image"></div>
      </div>
    </div>
    <div class="blog__categories">
      <ul class="blog__ul">
        <li class="blog__li">Что делать, если в газовой духовке подгорает низ</li>
        <li class="blog__li">Пиролитическая система очистки духовки</li>
        <li class="blog__li">Особенности тушения в духовке</li>
        <li class="blog__li">Каталитическая система очистки духовки</li>
        <li class="blog__li">Как правильно готовить мясо и рыбу в духовке</li>
        <li class="blog__li">Как выпекать в духовке: советы</li>
        <li class="blog__li">Как выбрать противень для духовки</li>
        <li class="blog__li">Выбор посуды для индукционной плиты</li>
        <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
        <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>
        <li class="blog__li">Эффективная и долговечная работа духовки советы и рекомендации</li>
        <li class="blog__li">Электророзжиг на газовой плите: особенности ремонта</li>

      </ul>
    </div>
  </div>

  <button class="button m-red blog__button">Показать еще</button>
</div>

<%= _.template(require('./../includes/footer.html'))() %>