<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/svg.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>
<%= _.template(require('./../includes/breadcrumbs.html'))() %>
<div class="page-search">
    <div class="container">
        <div class="page-search__buttons">
            <a href="" class="button page-search__button">Везде</a>
            <a href="" class="button page-search__button">Каталог Продукции</a>
            <a href="" class="button page-search__button">Блог</a>
        </div>
        <div class="page-search__result-text">найдено 105 результатов</div>
        <div class="page-search__result">
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механ<span class="page-search__result-equality">иче</span>ский таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">11.07.2013 Эксклюзивное сотрудничество ОАО Газмаш с М.Видео</div>
                <div class="page-search__text">...Появление эксклюзивных новинок в сети особо порадует покупателей дизайнерским решением и доступной ценой.
                    В рамках сотрудничества запланированы различные маркетинговые мероприятия и промо-поддержка продукции «Darina». Такие условия позволят значительно упростить совместную </div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">Духовые шкафы</div>
                <div class="page-search__text">...поверхностей. Прибавьте к характеристикам духового шкафа простоту использования и удобство в уходе.
                    Интуитивно понятная панель управления с утапливаемыми переключателями обеспечивает простоту установки температуры, времени и режима приготовления. Внешние и внутренние поверхности...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
            <div class="page-search__item">
                <div class="page-search__name">1U5 BDE 111 705 X</div>
                <div class="page-search__text">..., 9 режимов работы, тангенциальное охлаждение, механический таймер, подсветка, конвектор, гриль, электрический вертел,
                    терморегулятор, утапливаемые ручки на панели управления Размеры в упаковке: Ширина 68,1 см Глубина 60,6 см Высота 70,7 см Вес: Масса нетто: 31 кг Масса брутто: 41 кг ...</div>
            </div>
        </div>
        <div class="pagination">
            <a href="#" class="pagination__icon">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9427 16.3717L7.34375 11.6001" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.9427 6.82861L7.34375 11.6002" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.0254 20.2294C14.5533 21.0924 12.8274 21.6 11 21.6C5.46701 21.5492 1 17.0822 1 11.6C1 9.67105 1.55838 7.84364 2.52284 6.3208" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.48438 2.66609C7.85493 2.00619 9.37778 1.6001 11.0021 1.6001C16.5351 1.6001 21.0021 6.0671 21.0021 11.6001C21.0021 13.4275 20.4945 15.1026 19.6823 16.5747" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </a>
            <div class="pagination__num">
                <a class="pagination__link m-active" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">3</a>
                <a class="pagination__link" href="#">4</a>
                <a class="pagination__link" href="#">5</a>
            </div>
            <a  href="#" class="pagination__icon">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.05727 6.22843L15.6562 11" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.05727 15.7715L15.6562 10.9999" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.97462 2.37067C8.4467 1.50772 10.1726 1.00011 12 1.00011C17.533 1.05087 22 5.51788 22 11.0001C22 12.929 21.4416 14.7565 20.4772 16.2793" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.5156 19.934C15.1451 20.5939 13.6222 21 11.9979 21C6.46486 21 1.99786 16.533 1.99786 11C1.99786 9.17259 2.50547 7.49746 3.31766 6.02538" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </a>
        </div>
    </div>
</div>





<%= _.template(require('./../includes/compare-block.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>