<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/sidebar.html'))() %>

<div class="container">
<p>Список страниц</p>
<ul>
    <li><a href="http://darina.webcomplete.ru/index.html" target="_blank">Главная</a></li>
    <li><a href="http://darina.webcomplete.ru/catalog.html" target="_blank">Каталог</a></li>
    <li><a href="http://darina.webcomplete.ru/product-card.html" target="_blank">Карточка товара</a></li>
    <li><a href="http://darina.webcomplete.ru/blog.html" target="_blank">Блог</a></li>
    <li><a href="http://darina.webcomplete.ru/article.html" target="_blank">Статья</a></li>
    <li><a href="http://darina.webcomplete.ru/about.html" target="_blank">О бренде</a></li>
    <li><a href="http://darina.webcomplete.ru/service.html" target="_blank">Сервис</a></li>
    <li><a href="http://darina.webcomplete.ru/where-to-buy.html" target="_blank">Где купить</a></li>
    <li><a href="http://darina.webcomplete.ru/contact.html" target="_blank">Контакты</a></li>
    <li><a href="http://darina.webcomplete.ru/ui.html" target="_blank">Общие элементы</a></li>

</ul>
</div>
<%= _.template(require('./../includes/footer.html'))() %>