<%= _.template(require('./../includes/header.html'))() %>
<div class="container">
<p>Список страниц</p>
<ul>
    <li><a href="http://darina.webcomplete.ru/index.html">Главная</a></li>
    <li><a href="http://darina.webcomplete.ru/catalog.html">Каталог</a></li>
    <li><a href="http://darina.webcomplete.ru/product-card.html">Карточка товара</a></li>
    <li><a href="http://darina.webcomplete.ru/blog.html">Блог</a></li>
    <li><a href="http://darina.webcomplete.ru/article.html">Статья</a></li>
    <li><a href="http://darina.webcomplete.ru/about.html">О бренде</a></li>
    <li><a href="http://darina.webcomplete.ru/service.html">Сервис</a></li>
    <li><a href="http://darina.webcomplete.ru/ui.html">Общие элементы</a></li>

</ul>
</div>
<%= _.template(require('./../includes/footer.html'))() %>