$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorPrimary: #E9454F;
$colorGray400: #C4C4C4;
$colorGray600: #F6F6F6;

@import "~normalize.css/normalize.css";
@import "import/*.scss";

@mixin media-320() { @media all and (max-width: 320px) { @content; } }
@mixin media-768() { @media all and (max-width: 768px) { @content; } }
@mixin media-960() { @media all and (max-width: 960px) { @content; } }
@mixin media-1200() { @media all and (max-width: 1200px) { @content; } }
@mixin media-1440() { @media all and (max-width: 1440px) { @content; } }
